.calculator__form {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 20px;
    height: 120px;
    border-bottom: 1px solid var(--light-grey);

    & .calculator__form-icon {
        position: absolute;
        bottom: -30px;
        right: 0;
    }
}

@media (width <= 800px) {
    .calculator__form {
        height: 120px;
        justify-content: center;
    
        & .calculator__form-icon {
            bottom: calc(50% - 30px);
            right: 50%;
            transform: translate(50%, calc(50% + 30px));

            .icon {
                width: 22px;
            }
        }
    }
}